.event-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 50px;
}

.event-form-card {
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  color: #555;
  cursor: pointer;
  position: relative;
}

.checkbox-label span {
  font-size: 13px;
  color: #555;
}

.checkbox-label input[type="checkbox"] {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #065f46;
  flex-shrink: 0;
}

.checkbox-label:hover input[type="checkbox"] {
  accent-color: #054f3a;
}

.event-btn {
  width: 100%;
  padding: 12px;
  background-color: #065f46;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.event-btn:hover {
  background-color: #054f3a;
}

.custom-upload {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.custom-upload-button {
  background-color: white;
  color: #047857;
  border: 2px solid #047857;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s ease, border-color 0.3s;
}

.custom-upload-button:hover {
  background-color: #047857;
  color: white;
  border-color: #047857;
}

.custom-upload input[type="file"] {
  display: none;
}
#image-upload-input {
  display: none;
}

.image-preview {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-preview img {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.remove-image-btn {
  background: none;
  color: #d9534f;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.remove-image-btn:hover {
  color: #c9302c;
}

.error-summary {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  margin: 1rem 0;
  font-size: 14px;
}

.error-summary h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1em;
  color: #dc3545;
}

.error-summary ul {
  margin: 0;
  padding-left: 10px;
  list-style-type: none;
}

.error-summary li {
  padding: 0.1rem 0;
}
