.login-container {
  display: flex;
  justify-content: center;     
  background-color: #f4f4f4;
  min-height: 90vh;
  padding-bottom: 40px;      
}

.login-card {
  background-color: white;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  max-height: fit-content;
  margin-top: 40px;
}


h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group p {
  margin-top: 15px;
  font-size: 0.9rem;
}

.form-group label {
  display: block;
  margin-bottom: 7px;
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 7px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #065f46;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #054f3a;
}

.link {
  text-align: center;
  margin-top: 15px;
}

.link a {
  color: #4ade80;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.profile-link a:hover {
  text-decoration: none;
}
